

using Abp.Application.Services.Dto;
using Abp.Domain.Entities;
using System.ComponentModel.DataAnnotations;

namespace ${model.NameSpace}.Dtos
{	
	/// <summary>
	/// ${model.EntityName}的列表DTO
	/// <see cref="${model.EntityName}"/>
	/// </summary>
    public class ${model.EntityName}EditDto
    {

		/// <summary>
        /// Id 
        /// </summary>
        public long? Id { get; set; }     

#foreach($item in $model.list)##
#if($item.UseEditDto)##
		/// <summary>
		/// ${item.CName}
		/// </summary>
#if($item.MinLength > 0)##
		[MinLength(50, ErrorMessage="${item.CName}小于最小长度")]
#end##
#if($item.MaxLength > 0)##
		[MaxLength(100, ErrorMessage="${item.CName}超出最大长度")]
#end##
		public ${item.TypeName} ${item.Name} { get; set; }
#end##
#end##
		
		/* 这里创建自己的代码 */
	}
}