#set($SolutionName=$model.SolutionName)

#if($SolutionName != "")##
using ${SolutionName};
#end## 

namespace ${model.NameSpace}.Dtos
{
    public class PagedSortedAndFilteredInputDto : PagedAndSortedInputDto
    {
        public string FilterText { get; set; }
    }
}